body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(copy.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 0.80em;
}

.container {
  font: 1.5em sans-serif;
  color: rgb(255, 250, 247);
  padding: 2.5em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  width: 380px;
  text-align: center;
  background: rgba(20, 13, 13, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

input {
  background: rgba(180, 199, 182, 0.627);
  width: 100%;
  padding: 12px;
  margin: 0.8em 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
  font-size: 14px;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #3f7297;
  box-shadow: 0 0 5px rgba(63, 114, 151, 0.5);
}

button {
  width: 100%;
  padding: 12px;
  background: #b0b5ba;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-size: 12px;
  font-weight: bold;
  margin-top: 1em;
  transition: all 0.3s ease;
}

button:hover {
  background: #3f7297;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#message {
  margin-top: 1em;
  color: saddlebrown;
}

.signup a {
  font-size: 0.9em;
  text-decoration: none;
  color: #5285a4;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 2px 5px;
  border-radius: 3px;
  outline: none;
}

.signup a:hover {
  color: red;
  transform: translateY(2px);
}

.signup a:active {
  color: purple;
  text-decoration: underline;
  transform: translateY(2px);
}

h2 {
  margin-bottom: 0.5em;
  color: white;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
  font-size: 1.6em;
}